# Ignore Python virtual environment
jobenv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db
